// 页面切换
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all 0.3s;
}

.fade-transform-enter {
    opacity: 0;
    transform: translateX(-35px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(35px);
}